/* styles.css */

body {
    background-color: rgb(34, 47, 125);
    background-image: url('https://studyqa.com/storage/media/upload/univers/940/66/uni_profile_94066.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

#password {
    border-radius: 5px;
}
