

  
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8)!important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
  }

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

.eye-icon-background {
    background-color: rgba(255, 255, 255, 0.8); /* Match the background color used in the second page */
    padding: 6px;
    border-radius: 0 5px 5px 0;
  }