/* footer stuff */
footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #212529;
}


/* Ensures the navbar content starts from the left */
.navbar {
    justify-content: flex-start; /* Aligns items to the start of the navbar */
}

.navbar-toggler {
    justify-content: flex-start;
    margin-left: auto;
}

/* Specific styling for logo and title container */
.logo-and-title {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    white-space: nowrap; /* Keeps the logo and title on the same line */
}

/* Styling for navigation links */
.navbar-nav {
    align-items: center; /* Centers links vertically within the navbar */
    margin-left: auto; /* Pushes the nav to occupy the space on the right */
}

.nav-link {
    padding-right: 15px; /* Adjust spacing between links as needed */
}


.nav-link {
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

/*above is header stuff below is body */

img {
    height: 60px;
}

.headName {
    color: #111544;
    font-weight: bold;
}

body {
    background-color: #294b5e;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-image: url('../img/Path_LOGO_2.png');
    background-attachment: fixed;

}