
#formwrapper {
    display: flex;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    background-color: lightgray;
    text-align: left;
}

header {
    display: flex;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
}