.centered-container {
    display: flex;
    margin-top: 11%;
    align-items: center;
    flex-direction: column; /* Aligns children (header and formwrapper) in a column */
}

#header {
    color: #050636; /* cyan for text color for visibility */
    font-size: 48px; /* Larger font size for header */
    margin-bottom: 20px; /* Space between header and form */
}
#header.header-box {
  background-color: #24a6bd; /* cyan */
    padding: 5px; /* Adjust padding as needed */
    border-radius: 10px;
}
#formwrapper {
    background-color: rgba(208, 208, 208, 0.893); /* subtle white transparency for form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for better depth */
    width: 400px;
    border: 1px solid #096080; /* deep sea blue border for more definition */
}

form p {
    margin: 10px 0;
    color: #e2ece2; /* light greenish-grey for text */
}

label {
    font-weight: bold;
    color: #31aa21; /* bright lime green for labels to stand out */
}
#registration-link {
    background-color:#aaf145; /* Light grey background color */
    padding: 5px; /* Add some padding for spacing */
    border-radius: 8px; /* Rounded corners */
    margin-top: 20px; /* Add some top margin for separation */
}

#registration-link a {
    color: #333; /* Darker text color */
    text-decoration: none; /* Remove underline from link */
}

#registration-link a:hover {
    color: #27cdea; /* Change text color on hover */
    text-decoration: underline; /* Underline on hover */
}

textarea {
    width: 100%;
    resize: none;
}
.btn.btn-secondary {
    background-color: #096080; /* Original background color */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 8px 10px; /* Padding around text */
    text-decoration: none; /* No underline */
    margin-right: 10px; /* Add some right margin for spacing */
    width: 80px; /* Fixed width */
    height: 39px; /* Fixed height */
}

.btn.btn-update:hover {
    background-color: #218838; /* Darker green on hover */
}


/*Updated Submit button for Login and Sign-Up*/
.btnS.btn-secondaryS {
    background-color: #096080; /* Original background color */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 8px 10px; /* Padding around text */
    text-decoration: none; /* No underline */
    margin-right: 10px; /* Add some right margin for spacing */
    width: 80px; /* Fixed width */
    height: 39px; /* Fixed height */
}

.btnS.btn-updateS:hover {
    background-color: #0d769c; /*Lighter Blue*/
}

/* Cancel button */
.btn-cancel:hover {
    background-color: #dc3545; /* Red background */
}
