body {
    color: #e2ece2; /* light greenish-grey for text */
    font-family: Arial, sans-serif; /* Ensures a modern-looking sans-serif font is used */
    background-color: #042d44; /* dark blue for body background */
}

.header {
    color: #042d44; /* dark blue for text */
    background-color: #27cdea; /* cyan for background */
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
    background-color: #465968; /* greyish blue for content background */
}

.section {
    margin-bottom: 20px;
    color: #f8f9fa; /* very light grey, almost white, for text in sections */
    border-bottom: 1px solid #096080; /* deep sea blue for a subtle division line */
}

.team-member {
    margin-bottom: 10px;
    background-color: #388029; /* a darker green for team member background */
    padding: 10px;
    border-radius: 8px;
    color: #e2ece2; /* light greenish-grey for text */
}

/* Adding a subtle hover effect to sections to improve interactivity */
.section:hover {
    background-color: #0b3a19; /* dark green for hover effect */
    color: #e2ece2; /* light greenish-grey text ensures readability */
}


/*Stying for View Message*/

h1 {
    color: #042d44; /* Dark blue text */
    background-color: #27cdea; /* Cyan background */
    padding: 20px;
    text-align: center;
}

.job-sectionM {
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sectionM {
    margin-bottom: 0px;
    text-align: center;
    vertical-align: top;
    border: 2px solid #ffffff; /* White border */
    padding: 20px; /* Added padding for space inside the border */
    background-color: #465968;
}


.sectionT {
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    padding: 15px;
}

.sectionM h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff; /* White text */
}

.sectionM p {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    margin: 5px 0;
}
