/*Stying for View Message*/
h1 {
    color: #042d44; 
    background-color: #27cdea; 
    padding: 20px;
    text-align: center;
}

.job-sectionM {
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sectionM {
    margin-bottom: 0px;
    text-align: center;
    vertical-align: top;
    border: 2px solid #ffffff; /* White border */
    padding: 20px; /* Added padding for space inside the border */
    background-color: #465968;
}


.sectionT {
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    padding: 15px;
}

.sectionM h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff; /* White text */
}

.sectionM p {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    margin: 5px 0;
}

/*Button to exits viewing messages*/
/* Center the button container */
.button-containerM {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.btnM {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;
}

.btn-cancelM {
    background-color: #096080;
    color: #e2ece2;
    border: 2px solid #0b3a19;
}

.btn-cancelM:hover {
    background-color: #ff0000;
    border-color: #8f0808;
}