
/* Specific styles for the search section */
.search-section {
    background-color: rgb(224,180,12,0.7);
}
.search-section .form-control::placeholder {
    color: #050101; 
    width: 100%; 
    height:38px;
}

.search-section .form-select {
    width: 100%; 
    height:38px;
    
}
/* Spacing and styles for the table */
.table {
    margin-top: 0;
    width: 100%;
    border-collapse: collapse;
}

/*table stripes and hoverhighlights*/
.table-striped tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(249, 249, 249, 0.8);
}
.table-striped tbody tr:nth-of-type(odd):hover,
.table-striped tbody tr:nth-of-type(even):hover{
    background-color: rgba(227, 238, 17, 0.8);
}

/* Borders for table, rows, and cells */
.table-bordered th,
.table-bordered td {
    border: 1px solid #03070c;
}

/* Table header custom style */
.table thead th {
    
    color: rgba(227, 238, 17, 0.8);

}

/* Borders around the table */
.table-bordered {
    border: 1px solid #050709;
}

/* Title Section with translucent white background */
.title-section h1 {
    background-color: rgba(227, 238, 17, 0.8);
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
}

/* Custom styles for the "Make a Post" button */
.btn2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: auto;
    background-color: rgb(224,180,12);
    border-color: rgba(14, 2, 2, 0.8);
}
.btn2:hover {
    background-color: rgb(220, 223, 19);
    color: #343a40;
    border-color: rgb(14, 2, 2);
}
.btn-primary:hover {
    background-color: rgb(91, 181, 31);
    color: #343a40;
    border-color: rgb(14, 2, 2);
}
.btn-primary{
    background-color: rgb(220, 223, 19);
    color: #343a40;
    border-color: rgb(14, 2, 2);
}
.results-section {
    padding-bottom: 65px;
}