{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{%block extraheaders%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
{% endblock %}

{% block title %} About Us {% endblock %} <!--Page Title-->

{% block content%} <!--Contains all the sections for the page-->
<body>
    <!--Header Page-->
    <div class="header">
        <h1>About Us</h1>
        <p>Learn more about our vision the people behind our company</p>
    </div>
    <!--Content Description-->
    <div class="content container">
        <div class="section">
            <h2>Who Are We</h2>
            <p>We are a job agency with a focus of connecting and improving local communities. Our focus is on linking up people in the Suburbs to each other and creating perfect matches that leads to succesful and enjoyable experiences for users.</p>
        </div>
        <!--Extra Content Description-->
        <div class="section">
            <h2>Our Mission</h2>
            <p> Our vision is to empower local communities and build connections between people in the community, while allowing people to select the best talent for their job scope.</p>
        </div>
        <!--Core Values-->
        <div class="section">
            <h2>Our Values</h2>
            <ul>
                <li>Integrity and Honesty</li>
                <li>Dedication to Success</li>
                <li>Community and Inclusion</li>
            </ul>
        </div>
        <!--Team Members Section-->
        <div class="section">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="team-member">
                    <h3>EP-Wick</h3>
                    <p>Frontend Developer</p>
                    <p>EP-Wick has assisted in the development of the design of the whole website and contributed in staying true to the vision of this Website</p>
                </div>
                <div class="team-member">
                    <h3>sandoncj</h3>
                    <p>Backend Programmer</p>
                    <p>sandoncj has done most of the backend and is fully familiar with the data and how all the databases are linked.</p>
                </div>
                <div class="team-member">
                    <h3>uwaproj</h3>
                    <p>Frontend Designer</p>
                    <p>uwaproj has played an active part in the design and direction of the website and holds visions of how the website will continue to develop.</p>
                </div>
                <div class="team-member">
                    <h3>hernancx09</h3>
                    <p>Backend Programmer</p>
                    <p>hernancx09 has played a pivotal role in designing and helping to construct the backend of the website and also was a leading force in the direction the project took.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
