<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %} - CITS3403 WebApp</title>
    <!--- Stylesheet Links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    
      body {
        background-color: rgba(34,47,125,255);
        background-image: url('https://studyqa.com/storage/media/upload/univers/940/66/uni_profile_94066.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
      }
  </style>
    {% endblock %}
    {% block extraheaders %} {% endblock%}
</head>


    {% block content %}
      <!--- Page specific content block-->
    {% endblock %}
  </div>

    <!---Javascript and AJAX links-->
</body>
<footer>
  <!-- Attributions-->
</footer>
</html>