<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %} - CITS3403 WebApp</title>
    <!--- Stylesheet Links-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_base.css') }}">   
    {% block extraheaders %} {% endblock%}
</head>

<body>
  <header class="bg-dark py-2">
    <div class="container">
        <nav class="d-flex justify-content-between">
            <div class="nav">
            <a class="nav-link text-white" href="#">Job Search</a>
            <a class="nav-link text-white" href="#">About Us</a>
            <a class="nav-link text-white" href="#">My Profile</a>
            <a class="nav-link text-white" href="#">Inbox</a>
            </div>
            <button class="btn btn-outline-light">Login</button>
            <button class="btn btn-outline-light">Register</button>
        </nav>
    </div>
  {% block content %}
      <!--- Page specific content block-->
  {% endblock %}

    <!---Javascript and AJAX links-->
</body>
<footer>
  <!-- Attributions-->
</footer>
</html>