{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block extraheaders %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_main.css') }}"!important>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="offer-title">Detail Of the Job</h1>

    <div class="row">
        <div class="col-md-6">
            <!-- Job Section -->
            <div class="job-details-section">
                <div class="job-details-label">Job Name:</div>
                <div class="job-details-value">{{data[0]}}</div>
            </div>

            <!-- Pay Section -->
            <div class="job-details-section">
                <div class="job-details-label">Posted By:</div>
                <div class="job-details-value">{{data[1]}}</div>
            </div>

            <!-- Location Section -->
            <div class="job-details-section">
                <div class="job-details-label">Pay (P/Hr):</div>
                <div class="job-details-value">{{data[2]}}</div>
            </div>

            <!-- Time Frame Section -->
            <div class="job-details-section">
                <div class="job-details-label">Location:</div>
                <div class="job-details-value">{{data[3]}}</div>
            </div>

            <!-- Status Section -->
            <div class="job-details-section">
                <div class="job-details-label">Start From:</div>
                <div class="job-details-value">{{data[4]}}</div>
            </div>

            <!-- Status Section -->
            <div class="job-details-section">
                <div class="job-details-label">Status:</div>
                <div class="job-details-value">{{data[5]}}</div>
            </div>

            <!-- Status Section -->
            <div class="job-details-section">
                <div class="job-details-label">Job Type:</div>
                <div class="job-details-value">{{data[6]}}</div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Job Description Section -->
            <div class="job-details-section job-description">
                <div class="job-details-label"><h2>Job Description:</h2></div>
                <p>
                    {{data[7]}}
                </p>
        </div>
    </div>


    <!-- Button Container -->
    <div class="button-container">
        <button class="btn btn-accept">Apply Job Offer</button>
        <button class="btn btn-cancel">Decline Offer</button>
    </div>
</div>


<!-- Bootstrap, Popper.js, and Main JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<!-- Reference to external JavaScript file -->
<script src="{{ url_for('static', filename='tempmodal.js') }}"></script> <!-- note that this is only here as a basic script so we can view the design of the modal. -->

{% endblock %}