{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="login-form">
        <h2 class="text-center mb-4">Login</h2>
        <form id="login-form">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="eye-icon-container input-group">
              <input type="password" class="form-control" id="password" placeholder="Password">
              <div class="input-group-append">
                <div class="eye-icon-background">
                  <i class="fa fa-eye eye-icon" id="showPassword"></i> <!-- Eye icon -->
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="mt-3 text-center">
          <a href="#">Reset Password</a> | <a href="#">Register Here</a>
        </div>
        <!-- Alert for incorrect username/password -->
        <div id="alert" class="alert alert-danger mt-3 d-none" role="alert">
          Incorrect username or password. Please try again.
        </div>
        <!-- Alert for empty fields -->
        <div id="empty-alert" class="alert alert-danger mt-3 d-none" role="alert">
          Please fill in all fields.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}
