{% extends "base.html" %}
{% block title %}View Post{% endblock %}
{%block extraheaders%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_forms.css') }}">
{% endblock %}

{% block content %}
  <div class="centered-container">
    <div id="header">Create Job</div> <!--Display the title header for job creation-->
    <div id="formwrapper">
      <form action="" method="post">
        {{ form.hidden_tag() }} <!--CSRF token for form security-->
        <p>
          {{form.post_type.label}} <br> <!--Display label for post type selection-->
          {{form.post_type}} <!--Display dropdown/select field for post type-->
        </p>
        <p id="name_wrapper">
          {{form.name.label(id="name-label")}} <br> <!--Display label for job name input-->
          {{form.name(size=30)}} <!-- Display job name input field-->
        </p>
        <p id="pay_wrapper">
          {{form.pay.label}} <br> <!--Display label for pay-->
          {{form.pay(size=30)}} <!--Display pay input-->
        </p>
        <p>
            {{form.location.label}} <br> <!--Display label for location-->
            {{form.location(size=30)}} <!--Display location input-->
        </p>
          <p>
            {{form.job_type.label}} <br> <!--Display label for job type selection-->
            {{form.job_type}} <!--Display job input, Dropdown selection-->
          </p>
          <p id="start_from_date_wrapper">
            {{form.start_from_date.label}} <br> <!--Display label for date-->
            {{form.start_from_date}} <!--Display date input-->
          </p>
          <p>
            {{form.description.label}} <br> <!--Display label for description-->
            {{form.description(size=30, cols='40', rows='4')}} <!--Display description input field-->
          </p>
        <p>
          {{form.submit()}} <!--Submit button-->
        </p>
        <p>
          {{ form.submit(value="Update") }} <!-- To Submit, form will be updated once it has been confirmed for submission -->
          <a href="/jobs" class="btn btn-secondary">Cancel</a> 
        </p>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='/js/js_functions.js') }}"></script> <!-- external javascript file for form validation -->
{% endblock %}


