{% extends "base.html" %}

{% block content %}
<h2>Registration Page</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='style_reg.css') }}">


<form action="" method="post">
  {{ form.hidden_tag() }}

  <p>
    {{form.username.label}} <br>
    {{form.username(size=30)}}
  </p>
  
  <p>
    {{form.password.label}} <br>
    {{form.password(size=30)}}
  </p>

  <p>
    {{form.passwordCheck.label}} <br>
    {{form.passwordCheck(size=30)}}
  </p>

  <p>
    {{form.submit()}}
  </p>

</form>
{% endblock %}

