{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block extraheaders %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_forms.css') }}">
{% endblock %}

{% block content %}

  <div class="centered-container">
    <div id="header" class = "header-box">Registration Page</div> <!--Title header for registration page-->
    <div id="formwrapper">
      <form action="" method="post">
        {{ form.hidden_tag() }} <!--Include hidden CSRF for security-->

        <p>
          {{form.name.label}} <br> <!--label for name input-->
          {{form.name(size=30)}}
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span> <!-- Display errors for input which does not meet criteria -->
          {% endfor %}
        </p>
        
        <p>
          {{form.email.label}} <br> <!--label for email input-->
          {{form.email(size=30)}}
          {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span> <!-- Display errors for input which does not meet criteria -->
          {% endfor %}
        </p>
        
        <p>
          {{form.password.label}} <br>  <!--label for password input-->
          {{form.password(size=30)}}
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span> <!-- Display errors for input which does not meet criteria -->
          {% endfor %}
        </p>

        <p>
          {{form.passwordCheck.label}} <br>  <!--label for password confirmation input-->
          {{form.passwordCheck(size=30)}}
          {% for error in form.passwordCheck.errors %}
          <span style="color: red;">[{{ error }}]</span> <!-- Display errors for input which does not meet criteria -->
          {% endfor %}
        </p>

        <p>
          {{ form.submit(value="Register", class="btnS btn-secondaryS btn-updateS") }} <!--Submit Button-->
        </p>

      </form>
    </div>
  </div>
    
{% endblock %}

