      <!-- Search Section 
        <section class="search-section">
            <div class="container">
            <form class="row justify-content-center align-items-center">
                <div class="col-sm-3 my-1">
                <input type="text" class="form-control" placeholder="Enter Keywords" value="">
                </div>
                <div class="col-sm-3 my-1">
                <select class="form-select rounded">
                    <option selected>Category1</option>
                    <option>Category2</option>
                    <option>Category3</option>
                </select>
                </div>
                <div class="col-sm-3 my-1">
                <input type="text" class="form-control" placeholder="Location">
                </div>
                <div class="col-sm-1 my-1">
                <button type="submit" class="btn btn-primary" onclick="search()">GO!</button>
                </div>
            </form>
            </div>
        </section>
        -->