{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block extraheaders %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
{% endblock %}

{% block content %}
<div class="containerM mt-5">
    <section class="job-sectionM my-4" style="color: white;">
        <div class="sectionT">
                <h1>Messages from Applicants</h1>
            </div>
        </div>
        <div class="sectionM">
            <h2>Applicant Name:</h2>
            <p>{{ data[0] }}</p>
        </div>
        <div class="sectionM">
            <h2>Contact:</h2>
            <p>{{ data[1] }}</p>
        </div>
        <div class="sectionM">
            <h2>Message:</h2>
            <p>{{ data[2] }}</p>
        </div>
    </section>
</div>
{% endblock %}
